<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fontspring-DEMO-rocgroteskextrawide-extrabold.otf</string>
		<string>Fontspring-DEMO-rocgroteskextrawide-medium.otf</string>
		<string>Fontspring-DEMO-rocgroteskextrawide-regular.otf</string>
		<string>Hauora-Light.ttf</string>
		<string>Hauora-Medium.ttf</string>
		<string>Hauora-Regular.ttf</string>
		<string>Unbounded-Black.ttf</string>
		<string>Unbounded-Bold.ttf</string>
		<string>Unbounded-ExtraBold.ttf</string>
		<string>Unbounded-ExtraLight.ttf</string>
		<string>Unbounded-Light.ttf</string>
		<string>Unbounded-Medium.ttf</string>
		<string>Unbounded-Regular.ttf</string>
		<string>Unbounded-SemiBold.ttf</string>
	</array>
</dict>
</plist>
